@page "/estimator"
@inherits ComponentBase

<div class="modal modal-backdrop @(IsVisible ? "modal-dialog-centered modal-lg" : "")" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Title"><i class="bi bi-calculator-fill"></i> Story Point Estimator</h5>
                <button type="button" class="btn-close" aria-label="Close" @onclick="Close"></button>

            </div>
            <div class="modal-body">
                <p>Slide the bar for each category. When the bar is in the center you are stating that the work is no harder or easier than most tasks you have done.</p>
                
                <form>
                    <label for="Knowledge" class="form-label">Knowledge of the work</label>
                    <input type="range" class="form-range" min="1" max="10" @bind="f1" id="Knowledge" aria-describedby="KnowledgeHelpBlock">
                    <div id="KnowledgeHelpBlock" class="form-text mb-3">
                        How familiar are you with the work that would be required in this story?  
                    </div>

                    <label for="Dependencies" class="form-label">Dependencies</label>
                    <input type="range" class="form-range" min="1" max="10" @bind="f2" id="Dependencies" aria-describedby="DependenciesHelpBlock">
                    <div id="DependenciesHelpBlock" class="form-text mb-3">
                        How dependent would the person assigned the story be on others to complete their work?
                    </div>

                    <label for="WorkEffort" class="form-label">Relative Work Effort</label>
                    <input type="range" class="form-range" min="1" max="10" @bind="f3" id="WorkEffort" aria-describedby="WorkEffortHelpBlock">
                    <div id="WorkEffortHelpBlock" class="form-text mb-3">
                        How dependent would the person assigned the story be on others to complete their work?
                    </div>

                    <label for="StoryQuality" class="form-label">Completeness of Requirements</label>
                    <input type="range" class="form-range" min="1" max="10" @bind="f4" id="StoryQuality" aria-describedby="StoryQualityHelpBlock">
                    <div id="StoryQualityHelpBlock" class="form-text">
                        How complete are the story requirements?  Are there any unknowns? Are there any assumptions?
                    </div>
                </form>

                <p>Score: @Score()</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @onclick="Close">Close</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public bool IsVisible { get; set; } = false;
    [Parameter] public EventCallback<bool> IsVisibleChanged { get; set; }
    //[Parameter] public string? HeaderText { get; set; }
    //[Parameter] public string? BodyText { get; set; }

    public int f1;
    public int f2;
    public int f3;
    public int f4;

    // Create a property to calculate the score
    public int score = 0;

    public int Score()
    {
        int f1s = f1 - 5;
        int f2s = f2 - 5;
        int f3s = f3 - 5;
        int f4s = f4 - 5;

        // sum the scores
        score = f1s + f2s + f3s + f4s;

        return score;
    }
    
    //public void Show(string bodyText, string headerText = "")
    public void Show()
    {
        //HeaderText = headerText;
        //BodyText = bodyText;
        f1 = 5;
        f2 = 5;
        f3 = 5;
        f4 = 5;

        IsVisible = true;
        StateHasChanged();
    }

    private void Close()
    {
        //HeaderText = string.Empty;
        //BodyText = string.Empty;
        IsVisible = false;
        StateHasChanged();
    }


}
